/* LoginForm.css */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 14px;
    padding: 10px;
    border: 2px solid #ffffff;
}

.login-form {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.h2-login  {
    text-align: center;
    color: #333;
}

.label-login {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555;
}

.input-login  {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ddd;;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-login:hover {
    background-color: #0056b3;
}
