.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glowing-text-button {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9); /* Adjust the values for the glowing effect */
}

&:hover {
   background-color: 'FF0000'; /* Set the hover background color */
   color: '#000000'; /* Set the hover font color */
}

.highlightedCell {
  background-color: #FFA07A;
}
.normalCell {
  background-color: white;
}
